// Import page-specific CSS files here.
@import "home";


.container-post {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // display: inline-grid;
}

.container-post-side {
  // width: 47.62%;
  width: 50%;
}

.body-post {
  height: 100px;
}

.add-turquoise {
  color: $turquoise;
  &:hover {
    opacity: 0.4;
  }
}

// .body-post img {
//   height: 375px !important;
//   width: 600px !important;
// }

.index-image img {
  height: 375px !important;
  width: 600px !important;
}
