// Import page-specific CSS files here.
@import "home";


.container-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-post-side {
  width: 45%;
}

.body-post {
  height: 150px;
}
