// Import page-specific CSS files here.
@import "home";
@import "show";


.container-post {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // display: inline-grid;
}

.container-post-side {
  margin-bottom: 30px;
  // width: 47.62%;
  // width: 50%;
}

.body-post {
  height: 75px;
  width: 600px;
}

.add-turquoise {
  color: $turquoise;
  &:hover {
    opacity: 0.4;
  }
}

// .body-post img {
//   height: 375px !important;
//   width: 600px !important;
// }

.index-image img {
  height: 375px !important;
  width: 600px !important;
}

.padding15-45 {
  padding-left: 15px;
  padding-right: 45px;
}

.white-font {
  color: white;
}

.no-decoration {
  color: black;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: black !important;
    text-decoration: none;
  }
}

.margin-bottom30 {
  margin-bottom: 30px;
}

.turquoise-line {
  height: 30px;
  width: 100%;
  background-color: $turquoise;
  padding: 0px 15px;
}
