
.newsletter-form {
  padding: 50px 10px;
  background-color: #F4F4F4;
}

.newsletter-submit {
  height: 50px;
  width: 120px;
  border: none;
  background-color: $turquoise;
  color: white;
  font-weight: bold;
}

.newsletter-name {
  border: 1px solid rgba(0,0,0,.12);
  height: 50px;
}
