
.newsletter-form {
  padding: 50px 10px;
  background-color: #F4F4F4;
  width: 600px;
}

.newsletter-submit {
  height: 50px;
  width: 120px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: $turquoise;
  &:hover {
  opacity: 0.8;
  }
}

.newsletter-name {
  border: 1px solid rgba(0,0,0,.12);
  height: 50px;
  &:focus {
    outline: 0;
  }
}

.newsletter-mail {
  border: 1px solid rgba(0,0,0,.12);
  height: 50px;
  width: 200px;
  margin-bottom: 10px;
  &:focus {
    outline: 0;
  }
}

input[placeholder] {
  padding-left: 15px;
}


.newsletter-field {
  margin: 5px 10px;
}

@media only screen
and (max-width: 650px) {
  .newsletter-submit {
    height: auto;
    width: auto;
  }

  .newsletter-form {
    padding: auto;
    width: auto;
  }

  .newsletter-name {
    height: auto;
  }

  .newsletter-mail {
    height: auto;
    width: auto;
  }
}

