<!-- <div class="col-sm-11 col-xs-12 blog-content"> -->
<div class="container-money padding15-45">
  <div class="titre-date">
    <h2 class="size23px margin-bottom30"><%= @post.title.upcase %></h2>
    <p class="date-money"><%= @post.created_at.strftime('%b %d, %Y') %></p>
  </div>
  <div class="show-image margin-bottom15">
    <%= image_tag(@post.image) %>
  </div>

  <div class="show-image show-font">
    <%= raw @post.body %>
  </div>
</div>
<!-- </div> -->
