.navbar-money {
  height: 70px;
  // padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-money-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.navbar-money-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.navbar-money-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  height: 55px;
  position: absolute;
  top: 7px;
}

.navbar-brand-2 img {
  height: 15px;
  position: absolute;
  top: 25px;
  padding-left: 15px;
}

  @media only screen
  and (max-width: 650px) {
    .navbar-money-middle {
      font-size: 0px;
    }
  }
